<h2>New Task</h2>
<label>Task Name</label>
{{input "required" type="text" placeholder="Task Name" value=name}}
<label>Work or Recreation</label>
{{input "required" type="text" placeholder="Work or Recreation" value=category}}
<label>Date</label>
{{input "required" type="date" value=date}}
<label>Location</label>
{{input "required" type="text" placeholder="Location" value=location}}
<label>Description</label>
{{input "required" type="text" placeholder="Description" value=description}}
<button {{action "submit"}}>Save Task</button>
