{{input type="text" placeholder="Task Name" value=name}}
{{input type="text" placeholder="Work or Recreation" value=category}}
{{input type="date" value=date}}
{{input type="text" placeholder="Location" value=location}}
{{input type="text" placeholder="Description" value=description}}
{{input type="checkbox" class="form-check-input" checked=newTask.is_completed}}
<button {{action "submit"}}>Save Example</button>
