<form {{action "update" on='submit'}}>
<h2>Edit Task</h2>
<label>Task Name</label>
{{input required=true type="text" placeholder="Task Name" value=name name="task[name]"}}
<label>Work or Recreation</label>
{{input required=true type="text" placeholder="Work or Recreation" value=category}}
<label>Date</label>
{{input required=true type="date" value=date}}
<label>Location</label>
{{input required=true type="text" placeholder="Location" value=location}}
<label>Description</label>
{{input required=true type="text" placeholder="Description" value=description}}
<button type="submit">Save Task</button>
</form>
