{{#if task.is_completed}}
<h3>Completed</h3>
<p>Task: {{task.name}}</p>
<p>Date: {{task.date}}</p>
<div class="is-completed-true">
  <label>Completed</label>
  <input type="checkbox" {{action 'toggleTaskDone'}} checked="toggleTaskDone">
</div>
  {{else}}
{{#if editing}}
  {{update-form task=task update="update" deleteTask="deleteTask"}}
{{else}}
<h3>Task</h3>
<div {{action "edit"}}>
<p>Name: {{task.name}}</p>
<p>Date: {{task.date}}</p>
<p>Category: {{task.category}}</p>
<p>Location: {{task.location}}</p>
<p>Description: {{task.description}}</p>
<p>ID: {{task.id}}</p>
<button class='btn-xs btn-danger' {{action 'deleteTask'}}>Delete</button>
</div>
<div class="is-completed-false">
  <label>Is this task done?</label>
  <input type="checkbox" {{action 'toggleTaskDone'}}>
</div>
{{/if}}

{{/if}}
