{{!-- {{'new tasks here'}} --}}

{{#each model as |item|}}
<p>Name: {{item.name}}</p>
<p>Date: {{item.date}}</p>
<p>Category: {{item.category}}</p>
<p>Location: {{item.location}}</p>
<p>Description: {{item.description}}</p>
{{/each}}
