{{!-- {{'new tasks here'}} --}}

{{#each model as |task|}}
<p>Name: {{task.name}}</p>
<p>Category: {{task.category}}</p>
<p>Location: {{task.location}}</p>
<p>Description: {{task.description}}</p>
{{/each}}
